.Layout {
  margin: 0px;
  padding: 0px !important;
}

ul {
  display: flex;
  letter-spacing: 2px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
ul li {
  list-style: none;
  padding-right: 1em;
  font-weight: bold;
}
ul li a {
  text-decoration: none;
}
ul li a:hover {
  color: #0074cc;
}
.product {
  border: 2px solid #7b8788;
  padding: 0px;
  border-radius: 5px 5px;
  padding: 2%;
  padding-top: 0px !important;
  margin-bottom: 2%;
  text-align: justify;
}

.product h3,
.product h2,
.product h1 {
  margin: 0px;
}

h2,
h3,
p,
td,
b,
a,
s,
li {
  color: #616c6f;
  text-align: justify;
}
h1 {
  color: #4c4b4b;
}
.productdetail > div {
  display: inline-block;
  width: 50%;
}
tr > td {
  width: 100%;
}
th {
  color: #616c6f !important;
  font-weight: bolder;
}
.category {
  width: 100%;
}
hr {
  padding: 0px;
  margin: 0px;
}
.shop {
  position: absolute;
  top: 20%;
  z-index: 1;
  left: 20%;
  color: white;
}
.productSpecs {
  width: 60%;
}
.breadcrumb {
  font-size: 15px;
  margin-top: 0px;
}
img {
  background-color: white;
}
.cartbutton {
  background-color: #0074cc !important;
  color: white !important;
  margin-right: 1px;
}
.infoButton {
  color: #0074cc !important;
  border-color: #0074cc !important;
}
.infoButton:hover {
  border-color: #0074cc !important;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .productSpecs {
    width: 100%;
  }
}
.cart__grid > li:nth-child(1) {
  flex: 1;
}
.cart__grid > li {
  display: flex;
  direction: row;
  align-items: center;
  margin: 0px;
  font-size: 12px;
}
.cart__box {
  border: 0.1px solid grey;
  margin-bottom: 5px;
  border-radius: 0.5rem;
}
.cart__delete {
  border-radius: 1rem;
  border: 0.1px solid grey;
}
.cart__total {
  display: flex;
  justify-content: space-evenly;
}
